.rightbar{
    width: 4%;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

}

#one{
    margin-top: 20px;
    width: 60px;
}
img{
    width: 30px;
}